.intro {
    padding: 150px 100px 20px;
}

.intro h1 {
    font-size: 48px;
    padding-bottom: 30px;

}

.intro h2 {
    font-size:30px;
    font-weight: 600;
    padding-bottom: 15px;
}

.intro h3 {
    font-size:20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.intro p{
    font-size: 18px;
}

.intro-grid {
    display:grid;
    column-gap: 50px;
    grid-template-columns: 1.1fr .9fr;
}

.item_container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.intro-right-item {
    text-align: center;
    border-radius: 50px;
    height: 200px;
}

#four {
    text-align: center;
    border-radius: 50px;
    height: auto;
    margin-bottom: 70px;
}

.intro-right-item img {
    height: 50px;
    width: auto;
    padding: 5px;
    margin: 0px 10px;
}

.intro-right-item a {
    text-decoration: none;
}

.github_btn {
    padding: 20px 100px;

    text-align: center;
    background-color: white;
    border-radius: 50px;
    color:black;
    border: solid;
}

.github_btn:hover {
    color: white;
    background-color:black;
    transition: 0.4s ease-in-out;
}

.intro-right-item #duration_num {
    font-size: 30px;
}

.firenest_content, .greenlatinos_content {
    padding: 120px 120px 0px;
}

.firenest_content {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 2fr 1fr;
}

.greenlatinos_content {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
}
.firenest_content img, .greenlatinos_content img{
    width: 100%;
    height: auto;
}