* {
  margin:0;
  padding:0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  line-height: 140%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(209, 209, 209) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(209, 209, 209) 1px, transparent 1px);
  background-color: #fff9f0;
}

/*These styles are for the navBar*/
header {
  color: black; 
  padding: 20px 120px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* font-weight: 500; */
  background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
  z-index: 1000; 
}

.logo {
  font-size: 25px; 
}

.navLinks {
  list-style-type: none; 
  display: flex;
}

.navLink {
  margin-right: 20px; 
  font-size: 20px;
}

.navLink:last-child {
  margin-right: 0; 
}

.navLink a {
  color:black;
  text-decoration: none; 
}

.navLink a:hover {
  color:#D64933; 
}

/*These styles are for the footer*/
footer {
  padding: 20px 120px 50px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
}

.email-button {
  color: #D64933;
  display: inline-block; /* Change display property */
  text-align: center;
}

.copy-notification {
  position:absolute;
  text-align: center;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  z-index: 9999;
  display: none;
}

.copy-message {
  font-size: 12px;
}

.show {
  display: block;
  transition:ease-in-out 0.4s
}

footer p {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0px 20px;
}

footer ul {
  list-style: none;
  width: 100%;
}

footer ul li, button {
  display: inline-block;
  margin: 0px 10px 10px;
  font-size: 20px;
}

footer ul li a {
  color: #D64933;
  text-decoration: none;
}

footer ul li a:hover, button:hover {
    color:grey;
}

footer button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

@media only screen and (max-width: 450px) {
  header {
    width: 100vw;
    padding: 20px 40px; 
  }

  .navLinks .navLink{
    display: none;
  }

  .logo {
    font-size: 25px; 
  }

  .navLink {
    margin-right: 20px; 
    font-size: 12px;
  }

  /*Footer*/
  footer {
    width: 100vw;
    padding: 20px 30px 50px;
    margin-top: 60px;
  }
  
  footer p {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 20px;
  }
  
  footer ul {
    list-style: none;
    width: 100%;
  }
  
  footer ul li, .email-button {
    display: inline-block;
    margin: 0px 5px 20px 0px;
    font-size: 12px;
  }

  footer .attribution {
    color: grey;
    text-decoration: none;
    padding: 20px 0px;
    font-size: 12px;
  }
}